* {
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d2e5ff;
  color: #FFFE02;
}

p{
  max-width: 30em;
}

button{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  color:#FFFE02;
  background: rgba(57, 178, 187, 0.604);
}

section{
  position: relative;
  margin: 0 auto;
  padding: 3rem;
  background: linear-gradient(130deg, #52d1ff 32.35%, #2775d5);
  border-radius: 1em;
  transition: 1s;
}

.front{
  width: 50vw;
  min-width: 30em;
}

h1{
  margin: 3rem;
  margin-bottom: 0;
  text-align: left;
  font-size: 5em;

  & p {
    margin-top:0;
    margin-bottom: 3rem;
    text-align: right;
  }
}

.back{
  opacity: 0;
  display: flex;
  flex-flow: row wrap;
  width: 70vw;

  & article{
    margin: 0 2rem;
  }

  & div{
    width: 59vw;
  }
}

.info{
  width: 20vw;
  & h2{
    margin: 0 0 0 31px;
    width: fit-content;
  }

  & p{
    margin: 0 0 0 59.5px;
    width: fit-content;
  }

  & img{
    width: 200px;
  }
}

.bio{
  width: 30vw;
}

.links{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  padding: 10px;

  & a{
    padding-right: 80px;
  }
}

/*flip stuff*/
body.flip {
  & .front{
  opacity: 0;
  transform: scale(0.8);
  position: absolute;
  }

  & .back{
    opacity: 1;
  }
}



